@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,900&display=swap');

:root{
    --primary: #bf616a;
    --text: #2e3440;
    --background: #eceff4;
    --hover: #88C0D0;
    --yellow: #EBCB8B;
}

html{scroll-behavior: smooth;}

body{
    background-color: var(--background);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
p,
a{
    color: var(--text);
}

h1{ font-size: clamp(2em, 3em + 1rem, 4em); }
h2{ font-size: 2.7em; margin-top: 0;}
h3{ font-size: 1.6em; }
h4{ font-size: 1em; }

p{
    line-height: 2;
}

header{
    background-color: var(--text);
}

.nav-main a{
    color: var(--background);
    transition: 250ms;
}

.nav-main a:hover{
    background-color: var(--yellow);
}

.active{
    background-color: var(--hover);
}

.btn{
    border-radius: 30px;
    padding: 8px 1em;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--background);
    transition: 250ms;
}

.btn-primary:hover{
    background-color: var(--hover);
}

h2{ line-height: 3; }

h2::after{
    content: ' ';
    position: absolute;
    left: 0; bottom: 0; right: 0;
    margin: auto;
    height: 7px; width: 300px;
    background: 
    linear-gradient(
        to right,
        #BF616A,
        #D08770,
        #81A1C1,
        #B48EAD
    );
}


.skill-bar-container{
    width: 90%;
    border: 2px solid --text;
}

.skill-bar-level{
    background-color: var(--primary);
}

.experience-container{
    background-color: var(--text);
    z-index: 1;
}

.experience-container:nth-child(1){background-color: #EBCB8B;}
.experience-container:nth-child(2){background-color: #A3BE8C;}
.experience-container:nth-child(3){background-color: #8FBCBB;}

.experience-container *{
    color: var(--background);
}

footer{
    background-color: var(--text);
}

footer .section-header{
    color: var(--background);
}

small{
    color: var(--background);
}
